body, table {
	font-family: "Verdana", "Arial", "sans-serif";
	font-size: 0.9em;
}
h1 { 
	font-size: 200%;
	margin-top: 2em;
}
nav {
	margin: auto;
	display: table;
}
footer {
	margin-top: 2em;
	text-align: center;
	font-size: 70%;
}
footer a {
	color: gray;
	text-decoration: none;
}
.uthev {
	font-family: "Courier New", "monospace", "sans-serif";
	font-weight: 900;
	font-size: 120%;	
}
.punktliste {
	padding-left: 30px;
}
