h1 {
	text-align: center;
}
h1 span.webpero-prefix {
	vertical-align: -12px;
}
.well img {
	margin-right: 20px;
	height: 150px;
}
footer {
	margin-top: 2em;
	text-align: center;
	font-size: 70%;
}
footer a {
	color: gray;
	text-decoration: none;
}
