/* Original theme CSS for webpero home page */
/* 22.09.2017 Per Olav Mariussen */

/* Større kontrast i navigasjon og listevalg enn original Bootstrap */
.nav>li>a:hover {
	color: #fff;
	background-color: #5b8ab3;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #333;
    text-decoration: none;
    background-color: #ccc;
}

footer a {
	color: #333;
}
